{% extends 'base.html.twig' %}

{% block title %}Клиент{% endblock %}

{% block body %}
    <h1>Клиент</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ client.surname }}</td>
            </tr>
            <tr>
                <th>Номер телефона</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Согласие на обработку данных</th>
                <td>{{ client.agree ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-primary">Редактировать</a>
    <a href="{{ path('app_client_index') }}" class="btn btn-secondary">Назад к списку</a>

{% endblock %}
