{% extends 'base.html.twig' %}

{% block title %}Клиент {{ client.id }} {% endblock %}

{% block body %}
    <h1>Клиент</h1>
    <div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">Имя: {{ client.name }}</p>
              <p class="card-text">Фамилия: {{ client.surname }}</p>
              <p class="card-text">Номер телефона: +{{ client.phone }}</p>
              <p class="card-text">Email: {{ client.email }}</p>
              <p class="card-text">Образование: {{ client.getEducationId().title }}</p>
              <p class="card-text">Согласие на обработку данных: {{ client.agree ? 'Да' : 'Нет' }}</p>
              <p class="card-text">Скоринг: {{ client.score }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                  <a href="{{ path('app_client_index') }}" class="btn btn-sm btn-outline-secondary">Назад к списку</a>
                </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}
